{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "plugins": ["prettier", "react-hooks", "react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "import/no-import-module-exports": "off",
    "import/prefer-default-export": "off",
    "object-curly-spacing": "off",
    "semi": "off",
    "react/prop-types": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "radix": "off",
    "no-use-before-define": "off",
    "function-paren-newline": "off",
    "comma-dangle": [
      "warn",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "only-multiline"
      }
    ],
    "react-hooks/exhaustive-deps": "off",
    "no-confusing-arrow": "off",
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ],

    "react/no-array-index-key": ["off"],

    "import/no-unresolved": [0, { "caseSensitive": false }]
  }
}
